@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

/* common css */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2C3722;
  list-style: none;
}

body {
  font-family: Josefin Sans;
  font-size: 100%;
  width: 100vw;
  overflow-x: hidden !important;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.primary_button {
  padding: 16px 36px;
  background: -webkit-gradient(linear, left top, right bottom, from(#8CB560), to(#639D2B));
  background: linear-gradient(to bottom right, #8CB560, #639D2B);
  color: #fff;
  font-family: poppins;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  -webkit-box-shadow: 0 5px 20px #d8e3cd;
          box-shadow: 0 5px 20px #d8e3cd;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

section .primary_button {
  padding: 22px 40px;
}


.primary_button:hover { 
  -webkit-box-shadow: 0 5px 100px #d8e3cd;
          box-shadow: 0 5px 100px #d8e3cd;
}

section {
  position: relative;
}

.main_row {
  max-width: 50%;
}

.font_large {
  font-size: 4.5em;
}

.ft_pri_lr {
  font-size: 2.5em;
}

.fr_pri_sm {
  font-size: 1.75em;
}

.fr_sec_lg {
  font-size: 1.5em;
}

.ft_sli_head {
  font-size: 1.375em;
}

.font_smallest {
  font-size: 1.125em;
}

.font_medium {
  font-size: 1.25em;
}


/* Header/hero section */

header {
  background: -webkit-gradient(linear, left top, right bottom, from(#F8FBF5), color-stop(#F9FCF7), color-stop(#FFFFFF), to(#FFFFFF));
  background: linear-gradient(to bottom right, #F8FBF5, #F9FCF7, #FFFFFF, #FFFFFF);
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
}

header .navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
}

header .navbar nav ul li {
  margin-left: 52px;
  font-size: 20px;
}

header .navbar nav ul li a {
  color: #8D8D8D;
  text-decoration: none;
}

header .navbar nav ul li a:hover {
  color: #2C3722;
}

header .main .main_colm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main_row .main_head {
  font-weight: 700;
}

header .main_row .main_disc {
  font-family: poppins;
  font-weight: 500;
  margin: 32px 0 55px;
  line-height: 1.7;
}

header .main_row .get_start_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .get_start_form #email_id {
  padding: 16px 30px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 30px #f2f3f2;
          box-shadow: 0px 5px 30px #f2f3f2;
  border: 0;
  border-radius: 5px;
  width: 350px;
  font-family: poppins;
  outline: none;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

header .get_start_form .primary_button {
  margin-left: 20px;
}

header .main_row .main_img_wrap {
  margin-left: 35px;
}

header .main_colm .main_row.left {
  margin-top: 190px;
  max-width: 51%;
  line-height: 1.2;
}

header .main_colm .main_row.right {
  margin: 45px 0 75px 0;
  max-width: 49%;
}

/* Header/hero section End */


/* welcome(first) section */

.first_sec_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
}

section.first_sec::before {
  background: url(assets/asset-5.png) center no-repeat;
  padding: 20px;
  width: 80px;
  height: 80px;
  bottom: 130px;
  right: 1640px;
}

.head_title {
  color: #FEBD00;
  margin-bottom: 20px;
}

.sec_heading {
  color: #212529;
  margin-bottom: 22px;
  line-height: 48px;
  font-weight: 700;
}

.sec_disc {
  font-family: poppins;
  color: #545454;
  margin-bottom: 40px;
}

.sec_disc p {
  line-height: 34px;
}

.column_size {
  padding: 70px 0;
}

.column_size .lft_elem {
  padding-left: 25px;
}

.column_size .rgt_elem {
  padding-right: 15px;
}

.column_size .rgt_elem img.cheaf_img {
  width: 100%;
}

/* welcome(first) section End */

/* reason(second) section */

.second_sec {
  padding: 10px 0;
}

section.second_sec::after {
  background: url(assets/asset-4.png) center no-repeat;
  padding: 18px;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 1380px;
}

.top_heading {
  text-align: center;
}
.slick-slide img {
  width: 100%;
}

.top_heading .sec_heading {
  margin-bottom: 58px;
}

.bottom_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_elem {
  background: #F8FBF5;
  text-align: center;
  padding: 46px 24px;
  width: 370px;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 0 0 #00000008;
          box-shadow: 0 0 0 #00000008;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.card_elem:hover {
  background: #fff;
  -webkit-box-shadow: 0 10px 20px #00000008;
          box-shadow: 0 10px 20px #00000008;
}

.card_elem:hover::after {
  background: -webkit-gradient(linear, left top, right bottom, from(#8CB560), to(#639D2B));
  background: linear-gradient(to bottom right, #8CB560, #639D2B);
  width: 370px;
}

.card_elem::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 0px;
  left: 0px;
  padding: 2.5px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.card_sec_head {
  padding: 28px 0 30px;
}

/* reason(second) section End */

/* Browse(third) section */

section.third_sec::after {
  background: url(assets/asset-2.png) center no-repeat;
  padding: 20px;
  width: 100px;
  height: 100px;
  top: 3px;
  left: 1650px;
}

section.third_sec::before {
  background: url(assets/asset-3.png) center no-repeat;
  padding: 20px;
  width: 100px;
  height: 100px;
  bottom: -75px;
  right: 1580px;
}

.tab {
  width: 180px;
}

.tab_content {
  display: none;
  padding: 0 12px 6px 110px;
  border-top: none;
}

.third_sec .slider_content_wrap {
  width: 910px;
}

.third_sec .slider_card_wrap {
  margin: 10px 10px 20px 10px;
  cursor: pointer;
}

.third_sec .slider_card_elem {
  width: 270px !important;
  -webkit-box-shadow: 0 5px 20px #f2f3f2;
          box-shadow: 0 5px 20px #f2f3f2;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
}

.third_sec .slider_card_elem:hover::after {
  width: 100%;
}

.third_sec .slider_card_elem::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 0px;
  left: 0px;
  padding: 2.5px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background: -webkit-gradient(linear, left top, right bottom, from(#8CB560), to(#639D2B));
  background: linear-gradient(to bottom right, #8CB560, #639D2B);
  width: 0%;
}

.third_sec .slider_card_elem .product_wrap {
  height: 240px !important;
  background: #FCFFF8;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.third_sec .product_wrap .pro_hove_cont {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fcfff878;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  overflow: hidden;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.third_sec .product_wrap:hover .pro_hove_cont {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.third_sec .product_wrap .hover_icon_elem {
  background: white;
  margin: 0 8px;
  width: 40px;
  padding: 11px 0;
  border-radius: 5px;
}

.third_sec .hover_icon_elem .fas.fa-heart {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.third_sec .slider_card_elem .product_details {
  text-align: center;
  padding: 14px 0;
}

.third_sec .product_details .product_name {
  color: #212529;
  font-weight: 600;
}

.third_sec .product_details .product_rating {
  padding: 5px 0;
}

.third_sec .product_rating i.fas.fa-star {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FEBD00;
}

.third_sec .product_details .product_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.third_sec .product_price .prod_Pric {
  color: #59882B;
  font-weight: 600;
}

.third_sec .product_price del.discounted_amt {
  font-weight: 600;
  color: #979797;
  margin-left: 5px;
}

.slick-next {
  width: 50px !important;
  height: 50px !important;
  left: 93% !important;
  z-index: 99;
  top: 110% !important;
  background: -webkit-gradient(linear, left top, right bottom, from(#8CB560), to(#639D2B)) !important;
  background: linear-gradient(to bottom right, #8CB560, #639D2B) !important;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-box-shadow: 0 3px 30px #00000010;
          box-shadow: 0 3px 30px #00000010;
}

.slick-prev {
  width: 50px !important;
  height: 50px !important;
  left: 86% !important;
  z-index: 99;
  top: 110% !important;
  background: #fff !important;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  -webkit-box-shadow: 0 3px 30px #00000010;
          box-shadow: 0 3px 30px #00000010;
}

.slick-prev:before {
  color: #8D8D8D !important;
  font-family: FontAwesome !important;
  content: "" !important;
}

.slick-next:before {
  color: #fff !important;
  font-family: FontAwesome !important;
  content: "" !important;
}

.tab_links {
  font-family: poppins;
  font-weight: 500;
  color: #979797;
  background: transparent;
  border: 0;
  padding: 15px 30px;
  text-align: left;
  position: relative;
  font-size: 1em;
  cursor: pointer;
}

.tab_links::after {
  content: "";
  background: #EBEBEB;
  padding: 3px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  border-radius: 3px;
}

.tab_links.active {
  font-weight: 500;
  color: #FEBD00;
  z-index: 999;
}

.tab_links.active::after {
  background: #FEBD00;
  border-radius: 3px;
}

ul.slick-dots {
  display: none !important;
}

/* Browse(third) section End */

/* History of figo(fourth) section */

section.fourth_sec .column_size .rgt_elem {
  padding-right: 0;
  padding-left: 15px;
}

.fourth_sec {
  padding: 70px 0 0;
}
section.fourth_sec .column_size .lft_elem {
  padding-right: 15px;
  padding-left: 0;
}

/* History of figo(fourth) section End */

/* Testimonials(fifth) section */

section.fifth_sec::after {
  background: url(assets/asset-1.png) center no-repeat;
  padding: 20px;
  width: 100px;
  height: 100px;
  top: 200px;
  left: 1580px;
}

.fifth_sec .client_review_btm {
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 110px 0 10px;
}

.fifth_sec .client_review_btm .client_review_elem {
  position: relative;
}

.fifth_sec .client_review_btm .client_review_elem:first-child {
  top: -10px;
}

.fifth_sec .client_review_btm .client_review_elem:nth-child(2) {
  position: relative;
  top: -50px;
  margin: 0 45px;
}

.fifth_sec .client_review_btm .client_review_elem:nth-child(4) {
  margin: 22px 20px 0;
}

.fifth_sec .client_review_btm .client_review_elem:last-child {
  margin: 50px 20px 0;
}

.fifth_sec .client_review_btm .main_review_cont {
  width: 360px;
  font-family: poppins;
  font-size: 0.85em;
  color: #8D8D8D;
  background: #fff;
  -webkit-box-shadow: 0 3px 30px #00000015;
          box-shadow: 0 3px 30px #00000015;
  padding: 18px 26px;
  line-height: 22px;
  border-radius: 5px;
  position: relative;
}

.fifth_sec .client_review_btm .main_review_cont::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #ffffff;
  position: absolute;
  top: 100%;
  left: 32px;
}

.fifth_sec .client_review_btm .reviewer_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  font-family: poppins;
  margin-top: 20px;
}

.fifth_sec .client_review_btm .reviewer_name_and_disc {
  margin-left: 20px;
}

.fifth_sec .client_review_btm .reviewer_name_and_disc .reviewer_name {
  font-size: 1em;
  font-weight: 600;
}

section.fifth_sec .client_review_btm .reviewer_discription {
  font-size: 0.85em;
  color: #979797;
  font-weight: 600;
  font-style: italic;
}

/* Testimonials(fifth) section End */

/* News(sixth) section */

.sixth_sec .card_elem {
  padding: 0;
  text-align: left;
  background: transparent;
}

.sixth_sec .card_elem .card_img {
  width: 100%;
}

.sixth_sec .card_elem:hover {
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
}

.sixth_sec .card_elem:hover::after {
  padding: 0;
  width: 0;
}

.sixth_sec .card_elem .card_sec_head {
  font-weight: 600;
  padding: 24px 0 20px;
}

.card_disc.sec_disc.font_smallest {
  margin-bottom: 20px;
}

.sixth_sec .card_elem a.readMore {
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: 700;
  color: #FEBD00;
  font-size: 1em;
  font-family: 'poppins';
}

/* News(sixth) section End */

/* Subscription(sixth) section */

section.seventh_sec .column_size {
  padding-top: 80px;
  padding-bottom: 140px;
}

section.seventh_sec::before {
  background: url(assets/2536.png) center no-repeat;
  padding: 20px;
  width: 100px;
  height: 100px;
  top: 70px;
  right: 1360px;
}

section.seventh_sec::after {
  background: url(assets/asset-2.png) center no-repeat;
  padding: 20px;
  width: 100px;
  height: 100px;
  top: 200px;
  left: 1470px;
}

.new_lettr_form {
  margin: 0 auto;
}

.new_lettr_form .news_form_wrap {
  padding: 10px 12px 10px 40px;
  -webkit-box-shadow: 0 5px 20px #f3f3f3;
          box-shadow: 0 5px 20px #f3f3f3;
  border-radius: 35px;
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  background: white;
}

.new_lettr_form .news_form_wrap input#news_letter {
  font-family: poppins;
  border: 0;
  color: #B7B7B7;
  outline: none;
  width: 80%;
}

#news_letter::placeholder,
#email_id::placeholder {
  color: #b7b7b7!important;
}

.new_lettr_form .news_form_wrap .submit_Btn {
  background: -webkit-gradient(linear, left top, right bottom, from(#8CB560), to(#639D2B));
  background: linear-gradient(to bottom right, #8CB560, #639D2B);
  border-radius: 30px;
  padding: 18px 17px;
  border: 0;
  cursor: pointer;
}

/* Subscription(sixth) section End */

/* Footer */

footer {
  position: relative;
  background: #F8FBF5;
  padding: 150px 0;
}

footer::before {
  background: url(assets/2535.png) center no-repeat;
  padding: 70px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 115px;
  right: 1600px;
  background-size: contain;
}

footer::after {
  background: url(assets/15.png) center no-repeat;
  padding: 4  0px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 150px;
  left: 1610px;
  background-size: contain;
}

footer .figo_footr_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .figo_footr_elem .main_ft_cont_wrap {
  margin-right: 65px;
}

footer .figo_footr_elem .main_ft_cont_wrap .fttr_logo {
  width: 84px;
  height: auto;
}

footer .figo_footr_elem .main_ft_cont_wrap .fttr_disc_cont {
  margin: 26px 0 32px;
  line-height: 1.4;
  color: #585858;
}

footer .social_media_icons a {
  background: -webkit-gradient(linear, left top, right bottom, from(#8CB560), to(#639D2B));
  background: linear-gradient(to bottom right, #8CB560, #639D2B);
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 11px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  margin-right: 15px;
  text-decoration: none;
}

footer .footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

footer .footer_menu .fttr_menu_elem {
  width: 240px;
}

footer .fttr_menu_heading {
  font-weight: 700;
  margin-top: 10px;
}

footer ul.footer_menu_elem {
  margin-top: 10px;
}

footer ul.footer_menu_elem li {
  margin-top: 40px;
}

footer ul.footer_menu_elem li a {
  color: #585858;
  text-decoration: none;
}

/* Footer End */

@media (min-width: 1400px) {
  section::before, section::after {
    content: "";
    position: absolute;
    background-size: contain;
  }
  footer::after, footer::before {
    content: "";
  }
}

@media (max-width: 1200px) {

  /* common css */

  .container {
    max-width: 991px;
  }
  body {
    font-size: 70%;
  }
  .primary_button {
    padding: 15px 25px;
  }
  .column_size {
    padding: 40px 0;
  }
  .sec_disc {
    margin-bottom: 12px;
  }
  .sec_disc p {
    line-height: 34px;
  }
  .card_elem {
    padding: 40px 32px;
    width: 300px;
  }
  .card_elem:hover:after {
    width: 300px;
  }
  .top_heading .sec_heading {
    margin-bottom: 30px;
  }

  /* header/hero section */

  header .main_row .main_img_wrap {
    margin-left: 0;
  }
  header .main_row .main_img_wrap img {
    width: 100%;
  }
  header .main_row .get_start_form #email_id {
    padding: 15px 20px;
    width: 300px;
  }
  header .main_colm .main_row.left {
    max-width: 60%;
    margin-top: 120px;
  }
  header .main_colm .main_row.right {
    max-width: 40%;
    margin: 0;
  }
  header .navbar nav ul li {
    margin-left: 15px;
  }

  /* Browse section */

  .tab_content .slider_content_wrap {
    width: 800px;
  }
  .slick-prev {
    left: 85% !important;
  }
  .slider_card_elem {
    width: 240px !important;
  }
  .slider_card_elem .product_wrap {
    height: 100% !important;
  }
  .slick-slide img {    
    padding: 12px 0;
  }

  /* history section */

  section.fourth_sec .column_size {
    padding: 80px 0 40px;
  }

  /* footer */
  
  footer {
    background: #F8FBF5;
    padding: 60px 0;
  }
  footer .footer_menu .fttr_menu_elem {
    width: 200px;
  }
  footer ul.footer_menu_elem li {
    margin-top: 25px;
  }
  footer .main_ft_cont_wrap .fttr_disc_cont {
    margin: 25px 0;
  }
  footer .main_ft_cont_wrap .fttr_logo img {
    width: 80%;
  }
  footer .social_media_icons a {
    width: 35px;
    height: 35px;
    font-size: 14px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {

  /* common css */
  
  .container {
    max-width: 768px;
  }
  body {
    font-size: 60%;
  }
  .primary_button {
    font-size: 14px;
  }
  section .primary_button {
    padding: 16px 30px;
  }
  .font_medium {
    font-size: 1.4em;
  }
  .sec_disc {
    margin-bottom: 28px;
  }
  .sec_disc p {
    line-height: 26px;
  }
  .sec_heading {
    line-height: 30px;
  }
  .card_elem {
    padding: 30px 20px;
    width: 240px;
  }
  .card_elem:hover::after {
    width: 240px;
  }
  .tab_content .slider_content_wrap {
    width: 550px;
  }

  /* Header/hero section */

  header .main_colm .main_row.left {
    max-width: 65%;
    margin-top: 80px;
  }
  header .main_colm .main_row.right {
    max-width: 35%;
  }
  header .main_row .main_disc {
    margin: 30px 0;
  }
  header .main_row .get_start_form #email_id {
    padding: 15px 22px;
    height: 60px;
    font-size: 16px;
  }
  header .main_row .get_start_form .primary_button {
    margin-left: 10px;
  }

  /* Browse section */

  .slick-prev {
    left: 82% !important;
  }
  .slider_card_elem {
    width: 160px !important;
  }
  .slick-slide img {
    padding: 5px 0;
  }

  /* Subscription(seventh) section */

  .news_form_wrap .submit_Btn {
    padding: 15px 14px 14px !important;
  }
  .news_form_wrap .font_smallest {
    font-size: 1.5em;
  }
  
  /* Testimonials(fifth) section */

  .fifth_sec .client_review_btm .main_review_cont {
    width: 100%;
    line-height: normal;
  }
  .fifth_sec .client_review_btm .client_review_elem {
    width: 44%;
  }

  /* footer */

  footer .footer_menu {
    margin-right: 10px;
  }
  footer .footer_menu .fttr_menu_elem {
    width: 150px;
  }
  footer .main_ft_cont_wrap .fttr_logo img {
    width: 75%;
  }
  footer ul.footer_menu_elem {
    margin-top: 30px;
  }

}

@media (max-width: 768px) {

  /* Common css  */

  .container {
    max-width: 100%;
    padding: 20px 40px;
  }
  .font_large {
    font-size: 6.5em;
  }
  .font_medium {
    font-size: 2em;
  }
  .top_heading {
    font-size: 150%;
  }
  .main_row {
    max-width: 100%;
  }
  .head_title {
    margin-bottom: 6px;
  }
  .main_row.lft_elem {
    max-width: 100%;
  }
  .font_smallest {
    font-size: 1.3em;
  }
  .sec_disc {
    margin-bottom: 20px;
  }
  .sec_disc p {
    line-height: 20px;
  }
  .card_elem {
    padding: 30px 20px 20px;
    width: 200px;
  }
  .card_elem:hover::after {
    width: 200px;
  }
  .card_elem .card_sec_head {
    padding: 28px 0 20px;
  }
  .card_elem .font_smallest {
    font-size: 1.1em;
  }
  header .main_colm .main_row.right {
    max-width: 94%;
  }
  header .main_colm .main_row.left {
    max-width: 100%;
  }
  section.fourth_sec .column_size {
    padding: 0 0 40px;
  }

  /* navbar */

  .fix {
    position: fixed;
  }
  .fix .navbar img.logo {
    position: fixed;
  }
  .hamburger {
    margin-top: 15px;
  }
  .hamburger span {
    display: block;
    height: 5px;
    width: 40px;
    background: black;
    margin-bottom: 7px;
    border-radius: 10px;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
  }
  .hamburger span:nth-child(2) {
    -webkit-transition: 0.1s ease all;
    transition: 0.1s ease all;
  }
  .hamburger.active span:first-child {
    -webkit-transform: rotateZ(45deg) translate(8px, 6px);
            transform: rotateZ(45deg) translate(8px, 6px);
  }
  .hamburger.active span:nth-child(2) {
    visibility: hidden;
  }
  .hamburger.active span:last-child {
    -webkit-transform: rotateZ(-45deg) translate(10px, -10px);
            transform: rotateZ(-45deg) translate(10px, -10px);
  }
  .hamburger.active + ul {
    display: block;
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
  .navbar a, .navbar .hamburger {
    position: relative;
    z-index: 2;
  }

  /* Header/hero section */

  header .navbar nav ul {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: white;
    padding: 170px 50px;
  }
  header .navbar nav ul li {
    margin-left: 0;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  header .main .main_colm {
    display: block;
  }
  header .main_row .get_start_form #email_id {
    width: 58%;
  }
  header .main_row.left {
    max-width: 100%;
  }
  header .main_row.right {
    max-width: 65%;
    margin: 60px auto 0;
  }

  /* welcome(first) & History section */

  .first_sec_wrap.column_size {
    display: block;
  }
  .first_sec_wrap.column_size .lft_elem {
    padding-left: 0;
    margin-top: 20px;
  }

  /* Browse section */

  .third_sec .column_size, .sixth_sec .column_size, .seventh_sec .column_size {
    padding: 40px 50px !important;
  }
  .slick-prev {
    left: 77% !important;
  }
  .tab {
    width: 90px;
  }
  .tab_content {
    padding: 0 12px 6px 12px;
  }
  .tab_content .slider_content_wrap {
    width: 79vw;
  }
  .slick-next {
    left: 88% !important;
  }
  .tab_links {
    padding: 12px 25px;
    font-size: 1.2em;
  }
  .third_sec .bottom_content {
    justify-content: flex-start;
  }
  img.product_image {
    width: 100%;
  }
  .third_sec .slider_content_wrap {
    width: 400px;
  }
  .third_sec .slider_card_wrap .slider_card_elem {
    width: 180px !important;
  }
  .third_sec .slider_card_elem .product_wrap {
    height: 180px !important;
  }
  .tab_links {
    padding: 12px 25px;
    font-size: 0.6em;
  }

  /* History(fourth) section */

  section.fourth_sec .column_size .rgt_elem {
    padding-right: 0;
    padding-left: 0;
    margin-top: 30px;
  }

  /* Testimonials(fifth) section */
  .fifth_sec .client_review_btm .client_review_elem {
    display: block;
    width: 100%;
    position: static !important;
    margin-top: 0px !important;
    margin-bottom: 50px !important;
  }
  .fifth_sec .client_review_elem .main_review_cont {
    font-size: 1.5em;
  }

  /* News(sixth) section */

  .sixth_sec .bottom_content {
    -ms-flex-flow: wrap;
      flex-flow: wrap;
  }
  .sixth_sec .bottom_content .card_elem {
    width: 48%;
    padding: 15px 0;
    font-size: 150%;
  }
  
  /* Subscription(seventh) Section */
  
  .new_lettr_form {
    width: 100%;
  }
  .new_lettr_form .news_form_wrap {
    width: 100%;
    padding: 10px 15px 10px 15px;
  }

  /* Footer */

  footer .figo_footr_elem {
    display: block;
  }
  footer .main_ft_cont_wrap {
    margin-bottom: 50px;
  }
  footer .main_ft_cont_wrap .fttr_logo img {
    width: 100%;
  }
  footer .figo_footr_elem .fr_sec_lg {
    font-size: 2em;
  }
  footer .figo_footr_elem .footer_menu {
    margin-bottom: 50px;
  }
  footer .footer_menu .fttr_menu_elem {
    width: 200px;
  }
  footer .figo_footr_elem .main_ft_cont_wrap {
    margin-right: 0;
  }
}

@media (max-width: 449px) {

  /* Common css */

  .font_large {
    font-size: 3.5em;
  }
  .third_sec .column_size, .sixth_sec .column_size, .seventh_sec .column_size {
    padding: 40px 30px !important;
  }
  .top_heading {
    font-size: 110%;
  }
  .card_elem {
    width: 80%;
    margin: 0 auto 25px;
  }
  .card_elem:hover::after {
    width: 100%;
  }

  /* Header/Hero Section */
  
  header .main_colm .main_row.left {
    margin-top: 50px;
  }
  header .navbar {
    padding-top: 30px;
  }
  header .navbar .hamburger {
    margin-top: 5px;
  }
  header .main_row.left {
    margin-top: 50px;
  }
  header .main_row.right {
    max-width: 80%;
  }
  header .main_row .get_start_form {
    display: block;
  }
  header .main_row .get_start_form #email_id {
    width: 100%;
  }
  header .main_row .get_start_form .primary_button {
    margin-left: 0;
    margin-top: 10px;
  }
  header .main_colm .main_row.right {
    max-width: 100%;
  }
  
  /* Reason(second) Section */

  .second_sec .bottom_content {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }

  /* Browse Section */

  .third_sec .column_size {
    padding: 40px 0px !important;
  }
  .third_sec .slider_content_wrap {
    width: 220px;
  }
  .third_sec .slider_card_wrap .slider_card_elem {
    width: 100% !important;
  }
  .third_sec .slider_card_wrap .product_wrap {
    height: 150px !important;
  }
  .third_sec .slider_card_wrap .product_wrap img {
    width: 80%;
    margin: 0 auto;
  }
  .third_sec .column_size .tab_links::after {
    padding: 2px;
  }
  .third_sec .column_size .slick-prev {
    width: 40px !important;
    height: 40px !important;
    left: 50% !important;
  }
  .third_sec .column_size .slick-next {
    width: 40px !important;
    height: 40px !important;
    left: 75% !important;
  }
  .third_sec .column_size .slick-prev:before, .third_sec .column_size .slick-next:before {
    font-size: 15px;
  }
  .third_sec .column_size {
    padding: 40px 20px !important;
  }
  .tab_links {
    font-size: 0.8em;
  }
  .tab {
    width: 135px;
  }
  .fourth_sec .column_size {
    padding: 20px 0 40px;
  }

  /* Testimonials(fifth) section */

  .fifth_sec .client_review_btm {
    margin: 10px 0;
  }
  .fifth_sec .client_review_btm .client_review_elem {
    margin: 0px !important;
    margin-bottom: 30px !important;
  }
  .fifth_sec .client_review_elem .main_review_cont {
    font-size: 1.2em;
  }
  
  /* News(sixth) section */
  .sixth_sec .bottom_content {
    display: block;
  }
  .sixth_sec .bottom_content .card_elem {
    width: 100%;
  }

  /* Subscription(seventh) section */

  .new_lettr_form .news_form_wrap {
    width: 100%;
  }

}