@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

$primaryColor: #F8FBF5;
$primaryFont: #2C3722;
$primaryFont_L: #8D8D8D;
$secondaryTxtColor: #979797;
$secondaryHeadColor: #FEBD00;
$secondaryTitleColor: #212529;
$secondaryDiscColor: #545454;
$cardColor: #F8FBF5;
$footerFonts: #585858;

$primaryFontName: Josefin Sans;
$secondaryFontName: poppins;
$prePrimaryFontName: Cookie;

$primaryGradient: linear-gradient(to bottom right , #F8FBF5, #F9FCF7, #FFFFFF, #FFFFFF);
$secondaryGradient: linear-gradient(to bottom right , #8CB560, #639D2B);
$secondaryGradientHover: linear-gradient(to top left, #8CB560, #639D2B);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $primaryFont;
    list-style: none;
}

body{
    font-family: $primaryFontName;
    font-size: 100%;
    width: 100vw;
    overflow-x: hidden!important;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.PecondaryButton {
    padding: 25px 37px;
    background: $secondaryGradient;
    color: #fff;
    font-family: $secondaryFontName;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0 5px 20px #59882B10;
    transition: 0.3s ease all;
    &:hover {
        background: $secondaryGradientHover;
        box-shadow: 0 5px 20px #59882B30;        
    }
}
section {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-size: contain;
    }
    &::after {
        content: "";
        position: absolute;
        background-size: contain;
    }
}
.main_row{
    max-width: 50%;
}


// common css

.ft_m_lr {
    font-size: 4.5em;
}
.ft_pri_lr {
    font-size: 2.5em;
}
.fr_pri_sm {
    font-size: 1.75em;
}
.fr_sec_lg {
    font-size: 1.5em;
}
.ft_sli_head {
    font-size: 1.375em;
}
.ft_sec_smst {
    font-size: 1.125em;
}
.ft_m_sm {
    font-size: 1.25em;
}


// Header 

header {
    background: $primaryGradient;
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        nav ul{
            display: flex;
            padding: 15px 0;
            align-items: center;
            li {
                margin-left: 52px;
                font-size: 20px;
                a {
                    color: $primaryFont_L;
                    text-decoration: none;
                    &:hover{
                        color: $primaryFont;
                    }
                }
            }
        }
    }
    .main {
        background: $primaryGradient;
        .main_colm {
            display: flex;
            justify-content: space-between;
            .main_row {
                .main_head {
                    font-weight: 700;
                }
                .main_disc{
                    font-family: $secondaryFontName;
                    font-weight: 500;
                    margin: 60px 0;
                }
                .getStart_elem {
                    display: flex;
                    #emailId {
                        padding: 25px 30px;
                        font-size: 18px;
                        box-shadow: 0px 5px 30px #00000007;
                        border: 0;
                        border-radius: 5px;
                        width: 350px;
                        font-family: $secondaryFontName;
                        outline: none;
                        transition: 0.5s ease all;
                        &:focus {
                                box-shadow: 0px 5px 60px #00000015;     
                        }
                    }
                    .PecondaryButton {
                        margin-left: 20px;
                    }   
                }
                
                .main_img_wrap {
                    margin-left: 85px;
                }
            }
            .main_row.left {
                margin-top: 165px;
                max-width: 51%;                
            }
            .main_row.right {
                margin: 30px 0 75px 0;
                max-width: 49%;
            }
        }
    }   
}

// Section's common

.first_Sec_wrap{
    display: flex;
    justify-content: center;
}
section.first_Sec {
    &::before {
        background: url(assets/asset-5.png) center no-repeat;
        padding: 20px;
        width: 80px;
        height: 80px;
        bottom: 130px;
        right: 1640px;
    }
}
.head_Title {
    color: $secondaryHeadColor;
    margin-bottom: 20px;
}
.sec_Heading {
    color: $secondaryTitleColor;
    margin-bottom: 22px;
    line-height: 48px;
    font-weight: 700;
}
.sec_disc {
    font-family: $secondaryFontName;
    color: $secondaryDiscColor;
    margin-bottom: 48px;
    p {
        line-height: 40px;
    }
}
.column_Size {
    padding: 80px 0;
    .lft_Elem {
        padding-left: 25px;
    }
    .rgt_Elem {
        padding-right: 15px;
        img.cheaf_img {
            width: 100%;
        }
    }
}



// Reason Section 

section.second_Sec {
    &::after {
        background: url(assets/asset-4.png) center no-repeat;
        padding: 18px;
        width: 80px;
        height: 80px;
        top: 10px;
        left: 1380px;
    }
}

.topHeading {
    text-align: center;
    .sec_Heading {
        margin-bottom: 64px;
    }
}

.bottomContent{
    display: flex;
    justify-content: space-between;
}

.card_elem {
    background: $cardColor;
    text-align: center;
    padding: 50px 32px;
    width: 370px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 0 #00000008;
    transition: 0.5s ease all;

    &:hover {
        background: #fff;
        box-shadow: 0 10px 20px #00000008;
        &::after {
            background: $secondaryGradient;
            width: 370px;
        }   
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 0px;
        left: 0px;
        padding: 2.5px 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: 0.5s ease all;
    }

}
.card_secHead {
    padding: 28px 0 30px;
}



// tab system 

section.third_Sec {
    &::after {
        background: url(assets/asset-2.png) center no-repeat;
        padding: 20px;
        width: 100px;
        height: 100px;
        top: 3px;
        left: 1650px;
    }
    &::before {
        background: url(assets/asset-3.png) center no-repeat;
        padding: 20px;
        width: 100px;
        height: 100px;
        bottom: -75px;
        right: 1580px;
    }
}

.tab {
    width: 180px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    .slider_content_wrap {
        width: 1000px;
        .slider_card_wrap {
            margin: 10px 10px 20px 10px;
            .slider_card_elem {
                width: 270px!important;
                box-shadow: 0 10px 20px #00000005;
                border-radius: 5px;
                margin: 0 auto;
                position: relative;
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 0px;
                    left: 0px;
                    padding: 2.5px 0;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    transition: 0.3s ease all;
                    background: $secondaryGradient;
                    width: 0%;
                }
                .product_wrap {
                    height: 240px!important;
                    background: #FCFFF8;
                    margin: 0 auto;
                    text-align: center;
                    position: relative;

                    .pro_hove_cont {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #fcfff878;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: translateY(-100%);
                        overflow: hidden;
                        transition: 0.3s ease all;
                    }
                    &:hover {
                        .pro_hove_cont {
                            opacity: 1;  
                            transform: translateY(0%);
                        }
                    }
                    .hover_icon_elem {
                        background: white;
                        margin: 0 8px;
                        width: 40px;
                        padding: 11px 0;
                        border-radius: 5px;
                        .fas.fa-heart {
                            color: transparent;
                            -webkit-text-stroke-width: 2px;
                            -webkit-text-stroke-color: #000;
                        }
                    }
                    
                }
                .product_Details {
                    text-align: center;
                    padding: 14px 0;
                    .product_Name {
                        color: $secondaryTitleColor;
                        font-weight: 600;
                    }
                    .product_Rating {
                        padding: 5px 0;
                        i.fas.fa-star {
                            color: white;
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: $secondaryHeadColor;
                        }
                    }
                    .product_Price {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 16px;
                        .prod_Pric {
                            color: #59882B;
                            font-weight: 600;
                        }
                        del.discountedAmt {
                            font-weight: 600;
                            color: $secondaryTxtColor;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

.slick-next {
    width: 50px!important;
    height: 50px!important;
    left: 93% !important;
    z-index: 99;
    top: 110% !important;
    background: $secondaryGradient!important;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 3px 30px #00000010;

}
.slick-prev{
    width: 50px!important;
    height: 50px!important;
    left: 87% !important;
    z-index: 99;
    top: 110%!important;
    background: #fff!important;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;    
    box-shadow: 0 3px 30px #00000010;
}
.slick-prev:before {
    color: $primaryFont_L!important;
    font-family: FontAwesome!important;
    content: "\f060"!important;
}
.slick-next:before {
    color: #fff!important;
    font-family: FontAwesome!important;
    content: "\f061"!important;
}
.tablinks {
    font-family: $secondaryFontName;
    font-weight: 500;
    color: $secondaryTxtColor;
    background: transparent;
    border: 0;
    padding: 20px 30px;
    text-align: left;
    position: relative;
    font-size: 1.125em;
    &::after {
        content: "";
        background: #EBEBEB;
        padding: 3px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        transition: 0.4s ease all;
        border-radius: 3px;
    }
}
.tablinks.active {
    font-weight: 500;
    color: $secondaryHeadColor;
    z-index: 999;
    &::after {
        background: $secondaryHeadColor;
        border-radius: 3px;
    }
}
ul.slick-dots {
    display: none!important;
}


// why choose us 

section.fourth_Sec{ 
    .column_Size{
        .rgt_Elem {
            padding-right: 0;
            padding-left: 15px;
        }
        .lft_Elem {
            padding-right: 15px;
            padding-left: 0;
        }
    }
}


// section fifth

section.fifth_Sec {
    &::after {
        background: url(assets/asset-1.png) center no-repeat;
        padding: 20px;
        width: 100px;
        height: 100px;
        top: 200px;
        left: 1580px;
    }
    .client_Review_Btm {
        flex-flow: wrap;
        justify-content: center;
        margin: 95px 0;
        .clientReview_elem {
            position: relative;
            &:first-child {
                top: -10px;
            }
            &:nth-child(2) {
                position: relative;
                top: -50px;
                margin: 0 45px;
            }
            &:nth-child(4) {
                margin: 22px 20px 0;
            }
            &:last-child {
                margin: 50px 20px 0;
            }
        }
        .mainReview_cont {
            width: 360px;
            font-family: $secondaryFontName;
            font-size: 0.78em;
            color: $primaryFont_L;
            background: #fff;
            box-shadow: 0 3px 30px #00000015;
            padding: 18px 26px;
            line-height: 22px;
            border-radius: 5px;
            position: relative;
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 12px solid #ffffff;
                position: absolute;
                top: 100%;
                left: 32px;
            }
        }
        .reviewer_Details {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-family: $secondaryFontName;
            margin-top: 20px;
            .reviewer_name_and_disc {
                margin-left: 20px;
                .reviewerName {
                    font-size: 1em;
                    font-weight: 600;
                }
                .reviewerDiscription {
                    font-size: 0.85em;
                    color: $secondaryTxtColor;
                    font-weight: 600;
                    font-style: italic;
                }
            }
        }
    }
}



// sixth section 

.sixth_Sec {
    .card_elem {
        padding: 0;
        text-align: left;
        background: transparent;
        .cardImg {
            width: 100%;
        }
        &:hover{
            box-shadow: 0 0 0 transparent;
            &::after {
                padding: 0;
                width: 0;
            }
        }
        .card_secHead {
            font-weight: 600;
            padding: 28px 0 20px;
        }
        a.readMore {
            margin-bottom: 15px;
            text-decoration: none;
            font-weight: 600;
            color: $secondaryHeadColor;
        }
    }
}

// seveth section 


section.seventh_Sec {
    &::before {
        background: url(assets/2536.png) center no-repeat;
        padding: 20px;
        width: 100px;
        height: 100px;
        top: 70px;
        right: 1360px;
    }
    &::after {
        background: url(assets/asset-2.png) center no-repeat;
        padding: 20px;
        width: 100px;
        height: 100px;
        top: 200px;
        left: 1470px;
    }
}

.new_lettr_form {
    margin: 0 auto;
    .News_form_wrap {
        padding: 10px 12px 10px 40px;
        box-shadow: 0 5px 20px #00000007;
        border-radius: 35px;
        width: 520px;
        display: flex;
        justify-content: space-between;
        background: white;
        input#newsLetter {
            font-family: $secondaryFontName;
            // font-weight: 100;
            border:0;
            color: #B7B7B7;
            outline: none;
            &::placeholder {
                color: #b7b7b7;
            }
        }
        .Submit_Btn {
            background: $secondaryGradient;
            border-radius: 30px;
            padding: 18px 17px;
            border:0;
        }
    }
}

// footer

footer {
    position: relative;
    background: $primaryColor;
    padding: 90px 0;
    &::before {
        content: "";
        background: url(assets/2535.png) center no-repeat;
        padding: 70px;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 60px;
        right: 1600px;
        background-size: contain;
    }
    &::after {
        content: "";
        background: url(assets/15.png) center no-repeat;
        padding: 20px;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 90px;
        left: 1610px;
        background-size: contain;
    }
    .figo_footr_elem {
        display: flex;
        .main_ft_cont_wrap {
            margin-right: 65px;
            .Fttr_logo {
                width: 84px;
                height: auto;
            }
            .fttr_disc_cont {
                margin: 35px 0;
                color: $footerFonts;
            }
            .social_media_icons {
                i {
                    background: $secondaryGradient;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    padding: 11px 0;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 18px;
                    margin-right: 15px;
                }
            }
        }
        .footer_Menu {
            display: flex;
            margin-right: 30px;
            .fttr_menu_elem {
                width: 240px;
            }
        }
        .fttr_menu_heading {
            font-weight: 700;
        }
        ul.footer_menu_elem {
            margin-top: 10px;
            li {
                margin-top: 40px;
                a {
                    color: $footerFonts;
                    text-decoration: none;
                }
            }
        }
    }
}



@media (max-width: 1200px) {
    // common responsive 
    .container {
        max-width: 991px;
    }
    body {
        font-size: 70%;
    }
    .PecondaryButton {
        padding: 15px 25px;
    }
    section {
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    footer {
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    .column_Size {
        padding: 40px 0;
    }
    section.fourth_Sec .column_Size {
        padding: 80px 0 40px;
    }
    .card_elem {
        padding: 40px 32px;
        width: 300px;
        &:hover{
            &:after {
                width: 300px;
            }
        }
    }
    .topHeading .sec_Heading {
        margin-bottom: 30px;
    }  

    // header responsive

    header {
        .main {
            .main_colm {
                .main_row {
                    .main_img_wrap {
                        margin-left: 0;
                        img {
                            width: 100%;
                        }
                    }
                    .getStart_elem {
                        #emailId {
                            padding: 15px 20px;
                            width: 300px;
                        }
                    }
                }
                .main_row.left {
                    max-width: 60%;
                    margin-top: 120px;
                }
                .main_row.right {
                    max-width: 40%;
                    margin: 40px 0 75px 0;
                }
            }    
        }
        .navbar {
            nav {
                ul {
                    li {
                        margin-left: 40px;
                    }
                }
            }
        } 
    }

    // second sec
    .sec_disc{
        margin-bottom: 40px;
        p {
            line-height: 30px;
        }
    }

    // fourth sec 
    .tabcontent {
        .slider_content_wrap {
            width: 800px;
        }
    }
    .slick-prev {
        left: 85% !important;
    }

    // footer
    footer {
        background: #F8FBF5;
        padding: 60px 0;
        .figo_footr_elem {
            .footer_Menu {
                .fttr_menu_elem {
                    width: 200px;
                }
            }
            ul.footer_menu_elem {
                li {
                    margin-top: 25px;
                }
            }
            .main_ft_cont_wrap {
                .fttr_disc_cont {
                    margin: 25px 0;
                }
                .Fttr_logo {
                    img {
                        width: 80%;
                    }
                }
                .social_media_icons {
                    i {
                        background: -webkit-gradient(linear, left top, right bottom, from(#8CB560), to(#639D2B));
                        background: linear-gradient(to bottom right, #8CB560, #639D2B);
                        width: 35px;
                        height: 35px;
                        text-align: center;
                        padding: 11px 0;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 14px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 768px;
    }
    body {
        font-size: 60%;
    }
    .PecondaryButton {
        font-size: 14px;
    }
    .ft_m_sm {
        font-size: 1.4em;
    }

    // header 

    header {
        .main {
            .main_colm {
                .main_row.left {
                    max-width: 65%;
                    margin-top: 80px;
                }
                .main_row.right {
                    max-width: 35%;
                }
                .main_row  {
                    .main_disc {
                        margin: 30px 0;
                    }
                    .getStart_elem {
                        #emailId {
                            padding: 15px 22px;
                            height: 60px;
                            font-size: 16px;
                        }
                        .PecondaryButton {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    
    // second Sec 

    .sec_disc {
        p {
            line-height: 26px;
        }
        margin-bottom: 28px;
    }
    .sec_Heading {
        line-height: 30px;
    }
    .card_elem {
        padding: 30px 20px;
        width: 240px;
        &:hover{
            &::after {
                width: 240px;
            }
        }
    }

    // fourth sec 

    .tabcontent {
        .slider_content_wrap {
            width: 550px;
        }
    }
    .slick-prev {
        left: 82% !important;
    }
    .News_form_wrap {
        .Submit_Btn {
            padding: 15px 14px 14px!important;
        }
        .ft_sec_smst {
            font-size: 1.5em;
        }
    }

    // fifth sec 
    section.fifth_Sec{
        .client_Review_Btm {
            .mainReview_cont {
                width: 100%;
                line-height: normal;
            }
            .clientReview_elem {
                width: 44%;
            }
        }
    }

    // footer 

    footer {
        .figo_footr_elem {
            .footer_Menu {
                margin-right: 10px; 
                .fttr_menu_elem {
                    width: 150px;
                }
            }
            .main_ft_cont_wrap {
                .Fttr_logo img {
                    width: 75%;
                }
            }
            ul.footer_menu_elem {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 50px;
    }
    .ft_m_lr {
        font-size: 6.5em;
    }
    .ft_m_sm {
        font-size: 2em;
    }
    .topHeading {
        font-size: 150%;
    }
    .fix {
        position: fixed;
        .navbar img.logo {
            position: fixed;
        }
    }
    header {
        .navbar {
            nav {
                ul {
                    transform: translateX(100%);
                    transition: 0.5s ease all;
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100vh;
                    background: white;
                    padding: 170px 50px;
                    li {
                        margin-left: 0;
                        padding: 20px;
                        font-size: 30px;
                        text-align: center;
                    }
                }
            }
        }
        .main {
            .main_colm {
                display: block;
                .main_row {
                    .getStart_elem {
                        #emailId {
                            width: 58%;
                        }
                    }
                }
                .main_row.left {
                    max-width: 100%;
                }
                .main_row.right {
                    max-width: 65%;
                    margin: 60px auto 0;
                }
            }
        }
    }
    .hamburger {
        margin-top: 15px;
        span {
            display: block;
            height: 5px;
            width: 40px;
            background: black;
            margin-bottom: 7px;
            border-radius: 10px;            
            &:nth-child(2) {
                transition: 0.1s ease all;    
            }
            transition: 0.5s ease all;
        }
    }
    .hamburger.active {
        span {
            &:first-child {
                transform: rotateZ(45deg) translate(8px, 6px);
            }
            &:nth-child(2) {
                visibility: hidden;
            }
            &:last-child {
                transform: rotateZ(-45deg) translate(10px, -10px);
            }            
        }
    }
    .hamburger.active + ul {
        display: block;
        transform: translateX(0%)!important;
    }
    .navbar a, .navbar .hamburger {
        position: relative;
        z-index: 2;
    }

    // second sec

    .first_Sec_wrap.column_Size {
        display: block;
        .lft_Elem {
            padding-left: 0;
            margin-top: 20px;
        }
    }
    .main_row {
        max-width: 70%;   
    }
    .head_Title {
        margin-bottom: 6px;
    }
    .main_row.lft_Elem {
        max-width: 100%;
    }
    .ft_sec_smst {
        font-size: 1.3em;
    }
    .sec_disc {
        margin-bottom: 10px;
        p {
            line-height: 20px;
        }
    }
    .card_elem {
        padding: 30px 20px 20px;
        width: 200px;
        &:hover{
            &::after {
                width: 200px;
            }
        }
        .card_secHead {
            padding: 28px 0 20px;
        }
        .ft_sec_smst {
            font-size: 1.1em;
        }
    }

    // third sec 
    .third_Sec .column_Size, .sixth_Sec .column_Size, .seventh_Sec .column_Size{
        padding: 40px 50px!important;
    }

    // fourth sec

    .slick-prev {
        left: 77% !important;
    }
    section.fourth_Sec {
        .column_Size {
            .rgt_Elem {
                padding-right: 0;
                padding-left: 0;
                margin-top: 30px;
            }
        }
    }
    img.product_Image {
        width: 100%;
    }
    .tabcontent {
        .slider_content_wrap {
            width: 400px;
            .slider_card_wrap {
                .slider_card_elem {
                    width: 180px !important;
                    .product_wrap {
                        height: 180px !important;
                    }
                }
            }
        }
    }
        
    .tablinks {
        padding: 12px 25px;
        font-size: 0.6em;
    }   
    
    // fifth sec 
    section.fifth_Sec{
        .client_Review_Btm {
            .clientReview_elem {
                display: block;
                width: 100%;
                position: static!important;
                margin-top: 0px!important;
                margin-bottom: 50px!important;
                .mainReview_cont {
                    font-size: 1.5em;
                }
            }
        }
    }

    // sixth sec 
    .sixth_Sec {
        .bottomContent {
            flex-flow: wrap;
            .card_elem {
                width: 48%;
                padding: 15px 0;
                font-size: 150%;
            }
        }
    }

    // seventh sec 

    .new_lettr_form {
        width: 100%;
        .News_form_wrap {
            width: 100%;
            padding: 10px 15px 10px 15px;
        }
    }

    // footer 
    footer {
        .figo_footr_elem {
            display: block;
            .main_ft_cont_wrap {
                margin-bottom: 50px;
                .Fttr_logo img {
                    width: 100%;
                }
            }
            .fr_sec_lg {
                font-size: 2em;
            }
            .footer_Menu {
                margin-bottom: 50px;
                .fttr_menu_elem {
                    width: 200px;
                }
            }
        }
    }
}


@media (max-width: 449px) {
    .ft_m_lr {
        font-size: 3.5em;
    }
    .container {
        padding: 0 30px;
    }
    .third_Sec .column_Size, .sixth_Sec .column_Size, .seventh_Sec .column_Size {
        padding: 40px 30px !important;
    }
    .topHeading {
        font-size: 110%;
    }

    // heading 
    
    header {
        .navbar {
            padding-top: 30px;
            .hamburger {
                margin-top: 5px;
            }
        }
        .main {
            .main_colm {
                .main_row.left {                    
                    margin-top: 50px;
                }
                .main_row.right {
                    max-width: 80%;
                }
                .main_row {
                    .getStart_elem {
                        display: block;
                        #emailId {
                            width: 100%;
                        }
                        .PecondaryButton {
                            margin-left: 0;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    // second sec 
    section.second_Sec {
        .bottomContent {
            flex-flow: wrap;
        }
    }
    .card_elem {
        width: 80%;
        margin: 0 auto 25px;
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    // Third sec 

    section.third_Sec {
        .container.column_Size {
            padding: 40px 0px !important;
            .tabcontent {
                .slider_content_wrap {
                    width: 220px;
                    .slider_card_wrap {
                        .slider_card_elem {
                            width: 100% !important;
                        }
                        .product_wrap {
                            height: 150px !important;
                            img {
                                width: 80%;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
            .tablinks::after {
                padding: 2px;
            }
            .slick-prev {
                width: 40px !important;
                height: 40px !important;
                left: 50% !important;
            }
            .slick-next {
                width: 40px !important;
                height: 40px !important;
                left: 75% !important;
            }
            .slick-prev:before, .slick-next:before {
                font-size: 15px;
            }
        }
    }
    
    // fifth sec 
    section.fifth_Sec{
        .client_Review_Btm {
            margin: 10px 0;
            .clientReview_elem {
                margin: 0px!important;
                margin-bottom: 30px!important;
                .mainReview_cont {
                    font-size: 1.2em;
                } 
            }
        }
    }

    // sixth sec 

    .sixth_Sec {
        .bottomContent {
            display: block;
            .card_elem {
                width: 100%;
            }
        }
    }

    // seventh sec 
    .new_lettr_form .News_form_wrap {
        width: 100%;
    }
}